<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diews-Components - Example</title>
    <link rel="stylesheet" href="./css/buttons.main.css">
    <style>
    body {
        font-family: 'Arial', sans-serif;
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        color: #333;
    }
    .container {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    </style>
</head>
<body>
    <div class="container">
        <button class="btn btn--primary">Primary Button</button>
        <button class="btn btn--secondary">Secondary Button</button>
        <button class="btn btn--accent">Accent button</button>
        <button class="btn btn--mint">Mint Button</button>
        <button class="btn btn--peach">Peach Button</button>
        <button class="btn btn--lavender">Lavender Button</button>
        <button class="btn btn--gray">Gray Button</button>
        <button class="btn btn--sky">Light Blue Button</button>
        <button class="btn btn--cream">Cream Button</button>
        <button class="btn btn--aqua">Aqua Button</button>
        <button class="btn btn--outline">Outline button</button>
        <button class="btn btn--gradient">Gradient button</button>
        <button class="btn btn--shadow">Shadow Button</button>
        <button class="btn btn--square">Square Button</button>
        <button class="btn btn--yellow">Yellow Button</button>
        <button class="btn btn--bounce">Bounce Button</button>

        <button class="btn btn--primary btn--secondary-border">Button with secondary border</button>
        <button class="btn btn--mint btn--primary-border">Mint button with primary border</button>
        <button class="btn btn--aqua btn--gradient-border">Aqua button with gradient border</button>
    </div>
</body>
</html>
