:root {
    --modal-bg-color: rgba(0, 0, 0, 0.7);
    --modal-content-bg-color: #fff;
    --modal-text-color: #333;
    --modal-header-bg-color: #f6f6f6;
    --modal-btn-hover-secondary-bg-color: #e0e0e0;
    --modal-transition-duration: 0.3s;
    --modal-padding: 20px;
    --modal-border-radius: 12px;
    --modal-shadow-color: rgba(0, 0, 0, 0.2);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--modal-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--modal-transition-duration), visibility var(--modal-transition-duration);
    overflow-y: auto;
}

input[type="checkbox"]:checked + .modal-overlay {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: var(--modal-content-bg-color);
    border-radius: var(--modal-border-radius);
    width: 90%;
    max-width: 600px;
    padding: var(--modal-padding);
    box-shadow: 0 4px 15px var(--modal-shadow-color);
    transition: transform var(--modal-transition-duration) ease;
    transform: translateY(-50px);
    position: relative;
}

input[type="checkbox"]:checked + .modal-overlay .modal {
    transform: translateY(0);
}

.modal__close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border: none;
    color: var(--modal-text-color);
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0;
    z-index: 1001;
}

.modal__close-btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.modal__close-btn:focus {
    outline: 3px solid #6c7ae0;
}

/* Icono de cierre */
.modal__close-btn i {
    color: var(--modal-text-color);
    font-size: 18px;
    transition: color 0.3s ease;
}

.modal__close-btn:hover i {
    color: var(--modal-btn-hover-bg-color);
    transform: scale(1.1);
}

.modal__title {
    margin: 0;
    font-size: 1.8rem;
    color: var(--modal-text-color);
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 15px;
}

.modal__image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

.modal__text {
    margin-bottom: 20px;
}

.modal__content {
    padding: 20px 0;
    color: var(--modal-text-color);
    text-align: center;
    font-size: 1.1rem;
}

#modal-toggle {
    display: none;
}
